/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML
некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--font-family-main), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: var(--font-main-size);
  font-variation-settings: 'wght' (var(--font-main-weight));
  color: var(--main-color);

  background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.stretchable-size-block {
  inline-size: var(--block-size-main-stretchable);
}


/****************************  HEADER *****************************************************/
.header {
  display: flex;
  min-block-size: clamp(327px, 312.57px + 3.85vw, 368px);
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: clamp(98px, 100.67px - 0.18vw, 100px);
  background-color: var(--background-color);
  border: solid 2px var(--main-color);
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: auto;
  font-family: var(--font-family-accent), 'Courier New', Courier, 'Lucida Sans Typewriter', monospace;
  font-weight: var(--font-weight-normal);
  font-smooth: never;                /* Стандарт будущего (пока слабая поддержка) */
  text-transform: uppercase;
  -webkit-font-smoothing: none;      /* Для Chrome, Safari, Edge */
  -moz-osx-font-smoothing: auto;      /* Оставляем стандарт для Firefox */
}

.header__title-big {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title-small {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/****************************  CONTENT   CARD-ARTICLE *****************************************************/
.content {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block-end: 102px;
}

.card__article {
  display: flex;
  flex-direction: column;
  margin-block-end: 49px;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.card__article-title {
  margin: 4px 10px;
  color: var(--main-color);
  font-family: var(--font-family-main), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-variation-settings: 'wght' var(--font-main-card-title);
  font-weight: 715; /* в качестве фоллбэка */
  font-size: var(--font-main-size);
}

.card__article-picture-block {
  position: relative;
  border-top: solid 2px var(--main-color);
  border-bottom: solid 2px var(--main-color);
  overflow: hidden;
}

.card__article-picture {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card__article-picture-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--font-family-accent), 'Courier New', Courier, 'Lucida Sans Typewriter', monospace;
  font-size: 14px;
  font-smooth: never;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  background-color: transparent;
  mix-blend-mode: hard-light;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

@supports(
  (text-stroke: 1px var(--watermark-text-stroke)) or
  (-webkit-text-stroke: 1px var(--watermark-text-stroke))
  ) {
  .card__article-picture-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-text-stroke);
    text-stroke: 1px var(--watermark-text-stroke);
  }
}

.card__article-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
  color: var(--main-color);
  font-family: var(--font-family-main), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: var(--font-main-weight);
  font-size: var(--font-main-size);
  line-height: var(--font-main-line-height);
}

/****************************  ОБЩЕЕ ДЛЯ КНОПОК *****************************************************/
.button {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-accent), 'Courier New', Courier, 'Lucida Sans Typewriter', monospace;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color);
  cursor: pointer;
}

.card__article-buttons {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 7px;
  block-size:38px;
  margin-inline-start: auto; /* отталкиваем блок от левого края до упора вправо */
  margin-inline-end: 25px;
  margin-block-end: 25px;
  padding: 0;
}

/*********** Базовая настр ИКОНКИ - прозрачное с черной обводкой ******************/
.like-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px transparent solid;
  transition: border 0.3s ease;
}

.like-icon {
  display: block;
  inline-size: 36px;
  block-size: 36px;
  shape-rendering: crispedges; /* Убирает щели между пикселями */
}

/* Дополнительная мулька, пишут что поможет, если сетка
всё ещё видна ПРОВЕРИТЬ ЕСЛИ ЧТО УБРАТЬ*/
.like-icon path {
  outline: 1px solid transparent;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.like-icon .sparks {
  fill: transparent;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core,
.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon {
  overflow: visible; /* чтобы при увеличении (scale) края
  сердечка не обрезались границами SVG-контейнера */
}

/******************* Состояние HOVER ИКОНКИ ********************************************/
.like-icon:hover .core{
  --heart-core: var(--main-color);
  fill: var(--heart-core);
  transition-delay: 0s;
}

.like-icon:hover .main-body{
  --heart-main-body: var(--main-color);
  fill: var(--heart-main-body);
  transition-delay: 0.05s;
}

/****************** Состояние ACTIVE ИКОНКИ ********************************************/
.card__icon-button:active .like-icon .core {
  fill: var(--heart-animation);
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--heart-animation);
  transition-delay: 0.05s;
}

/********************* Кнопка Like Изначально + Hover ***********************************/
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--background-color);
  mix-blend-mode: difference;
}

.floppy-icon { /* поменял fill в svg. делаем тут иконку с инверсией цвета для ховера */
  position: relative;
  display: block;
  z-index: 2;
  inline-size: var(--floppy-icon-dimensions);
  block-size: var(--floppy-icon-dimensions);
  mix-blend-mode: difference; 
  shape-rendering: crispedges; /* Убирает щели между пикселями */
}

.button:not(.card__icon-button) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--main-color);
  overflow: hidden;
  background-color: var(--background-color); /* Фон кнопки белый */
  cursor: pointer;
}

.button:not(.card__icon-button)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  
  transform: translateX(-100%);
}

.button:not(.card__icon-button):hover::before {
  transform: translateX(0);
}

/*********************** кнопки + ИКОНКА Heart focus-visible **************************/
.button:focus {
  outline: none;
}

.card__icon-button:focus-visible .like-icon-block {
  border: 2px solid var(--main-color);
}

.button-txt {
  transition: box-shadow 0.3s ease;
}

.button-txt:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

/* ************************* КНОПКА СОХРАНИТЬ (ВНИЗУ ПРОЕКТА) ********************************/
.floppy-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--floppy-icon-dimensions);
  block-size: var(--floppy-icon-dimensions);
}

/* Дополнительная мулька, пишут что поможет, если сетка
всё ещё видна ПРОВЕРИТЬ ЕСЛИ ЧТО УБРАТЬ*/
.floppy-icon path {
  outline: 1px solid transparent;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.button-floppy-save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: clamp(306px, 295.8px + 2.72vw, 335px);
  padding: 15px 15px;
  align-self: center;
  border: 2px solid var(--main-color);
}

.button-floppy-save__text {
  display: flex;
  flex-wrap: nowrap;
}

/* ***************************** ДИАЛОГ - POP-UP **********************************************/
.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  inline-size: clamp(341px, 336.77px + 1.13vw, 353px);
  max-block-size: 191px;
  padding-inline: 30px;
  padding-block: 30px;
  overflow: hidden;
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  margin: auto;
  /* чтобы перебить браузерные марджины в 21px для диалогового окна */
  max-inline-size: 100%; 
  max-width: none;
}

.dialog__floppy-icon-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  display: block;
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  --floppy-color: #000; /* т.к. менял fill в svg на белый для другой кнопки с заливкой */
}

.dialog__button-floppy-save__text {
  min-block-size: 63px;
  font-family: var(--font-family-accent), 'Courier New', Courier, 'Lucida Sans Typewriter', monospace;
  font-weight: var(--font-accent-weight);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button-ok {
  display: flex;
  block-size: 38px;
  inline-size: 100%;
  border: 2px solid var(--main-color);
}

.dialog__button-ok-text {
  margin: auto;
  text-transform: uppercase;
}

/******************************* ФИЛЬТРЫ КАРТИНОК *******************************************/
.filter-grayscale {
  filter: grayscale(70%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-saturate {
  filter: saturate(400%);
}

.filter-invert {
  filter: invert(70%);
}

.filter-grayscale-sepia-brightness {
  filter: grayscale(0.75) sepia(0.7) brightness(0.9);
}

.filter-blure {
  filter: blur(15px);
}

.filter-hue-rotate-saturate-brightness-contrast-blur {
  filter: hue-rotate(90deg) saturate(60%) brightness(1.2) contrast(0.7) blur(1.5px);
}

/*************** пиксельные корректировки - подгонка под макет в pixel perfect ****************/
@media (width >= 1440px) {
  .header {
    margin-block-end: 97px;
  }
  .card__article {
    margin-block-end: 49px;
  }
  .card__article-text {
    margin-top: 24px;
  }
  li:nth-of-type(5) .card__article-text {
    margin-top: 20px;
  }
}

@media (width <= 375px) {
  .dialog[open] {
    padding-inline: 40px;
  }
}
