/* В этом файле будут храниться все значения переменных в исходном состоянии,
а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 
    'Inter-Variable', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-main-weight: 410;
  --font-weight-normal: 400;
  --font-main-card-title: 715;
  --font-main-size: 18px;
  --font-main-line-height: 1.17;

  --font-family-accent: 'PressStart2P', 'Courier New', Courier, 'Lucida Sans Typewriter', monospace;
  --font-accent-weight: 400;
  --font-accent-size: 18px;

  --main-color: #000;
  --background-color: #fff;

  --heart-contour: var(--main-color);
  --heart-core: transparent;
  --heart-main-body: transparent;
  --heart-animation: #FF0000;

  --floppy-color: #fff;
  --floppy-icon-dimensions: clamp(21px, 30.46px - 0.66vw, 28px);
  --watermark-text-stroke: rgba(255, 255, 255, 0.9);

  --block-size-main-stretchable: clamp(375px, 260.6px + 30.51vw, 700px);
}